@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <h1 class="text-center">AngularJS Front 2 Back Sample Application</h1>
    <br />
    <div class="jumbotron2" style="padding:150px">
       
        <p>The purpose of this project is to show a sample appliation creating data entry forms using AngularJS.</p>
        <ul class="list-group">
            <li class="list-group-item">A SQL script is also included in the DBScript folder 'AngularF2BDB.txt' which creates a Database 'AngularF2BDB' on your local SQL Server with a table called "Customer" that will be used throughout this application.</li>
            <li class="list-group-item">The applicatoin has 4 key features which happens in real world: 1) Customer List, 2) Create New Customer, 3) Edit Customer, and 4) Delete Customer.</li>            
            <li class="list-group-item">More instructions coming soon...</li>
        </ul>
    </div>
</div>

